// @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:ital,wght@0,300;0,400;1,300&family=Rubik&display=swap");

@font-face {
    font-family: "RF Dewi Extended";
    src: url("../fonts/RFDewiExtended-Regular.woff2") format ('woff2'),
        url("../fonts/RFDewiExtended-Regular.woff") format ('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}