html,
body {
	height: 100%;
}

.wrapper {
	position: relative;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1.5;
}

.container {
	max-width: 1730px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-fluid {
	max-width: 1920px;
	margin: 0 auto;
}

.container__low {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}

a {
	color: inherit;
}