* {
    border: solid 1px red;
    font-family: $main-font;
}

.header {
    display: flex;
    max-width: 80vw;
    margin-right: auto;
    margin-left: auto;
    // font-family: $main-font;
}

.header__img {}

.header__title {}

.header-contacts {}

.header-contacts__item {}

.header-contacts__item_blue {}

.header-nav {}

.header-nav__item {}

.main {}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1796px;
    margin-right: auto;
    margin-left: auto;
}

.banner__nav-arrow {}

.banner__nav-arrow_left {
    margin-right: -20px;
}

.banner__nav-arrow_right {
    margin-left: -20px;
}

.banner-content {}

.banner-content__slider {
    max-width: 1700px;
    margin-right: auto;
    margin-left: auto;

}

.banner-content__round-img {}

.banner-content__title {}

.banner-content-block {}

.banner-content-block__icon {}

.banner-content-block__text {}

.banner-content-block__text_bold {}



.info-block {
    max-width: 1522px;
    margin-top: 45px;
    margin-right: auto;
    margin-bottom: 45px;
    margin-left: auto;
    border-radius: 50px;
}

.info-block__title {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    color: $text-color-blue;
}

.info-block-wrapper {
    // position: relative;
    display: flex;
    max-width: 1146px;
    margin-right: auto;
    margin-left: auto;
}

.info-block-content {
    display: flex;
    flex-direction: column;
    max-width: 588px;
}

.info-block__text {
    line-height: 30px;

    &_bold {
        font-weight: 700;
    }

    &_blue {
        color: $text-color-blue;
    }
}

.info-block-list {
    display: grid;
    max-width: 588px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(4, 1fr);

    &__title {
        grid-column: 1/3;
        grid-row: 1/2;
        color: $text-color-grey;
    }

    &__number {
        font-size: 25px;
        color: $text-color-blue;
    }

    &__text {}
}

.info-block-btn {
    max-width: 263px;
    max-height: 54px;
    border: 0;
    border-radius: 4px;

    text-align: center;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1.5%;
    color: $text-color-white;
}

.info-block-btn_blue {
    background-color: $bg-deep-blue;
}

.info-block-btn-arrow {
    padding-left: 7px;
}

// .info-block-btn-arrow_white {}

.info-block__img {
    align-self: center;
    margin-left: 68px;
}
.info-block_sm{
    display: flex;
    align-items: center;
    max-width: 1146px;
    max-height: 164px;
    min-height: 164px;
    border-radius: 50px;
    // color: $text-color-white;
}
.info-block_bg-blue {
    background-color: $bg-deep-blue;
}

.info-block__text_white {
    margin-left: 40px;
    margin-right: 60px;
    color: $text-color-white;
}

.info-block-btn_white {
    max-width: 294px;
    min-width: 294px;
    max-height: 54px;
    min-height: 54px;
    background-color: $bg-white;
    color: $text-color-blue;
}

// .info-block-btn-arrow_blue {}

.info-block_bg-light-blue {}

.info-block__img_absolute {}

.info-block-slider {}