* {
  // border: solid 1px red;
  font-family: $main-font;
}

html {
  box-sizing: border-box;
}

ul[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: $main-font;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.main{
  cursor: pointer;
}

.ios,
.ios * {
    // causes dom events to be fired
    cursor: pointer;
}