// @media screen and (min-width: 481px) and (max-width: 768px) {}
// @media screen and (min-width: 320px) and (max-width: 480px) {}
// @media screen and (min-width: 769px) and (max-width: 1024px){}

@media screen and (max-width:1023px) and (min-width:425px) {

    // block advantages
    .advantages {
        &__container {
            grid-template-columns: 100%;
            justify-items: center;
            text-align: center;
            position: relative;
        }

        &__title {
            grid-area: 1/1/2/2;
            max-width: 70%;
            @include font-style ($title-font, $title-font-size-tablet, 42px);
        }

        &__photo {
            &_first {
                grid-area: 2/1/3/2;
            }

            &_second {
                grid-area: 4/1/5/2;
            }

            &_third {
                grid-area: 6/1/7/2;
            }
        }

        &__info {
            margin: 50px auto 30px;

            &_first {
                grid-area: 3/1/4/2;
            }

            &_second {
                grid-area: 5/1/6/2;
            }

            &_third {
                grid-area: 7/1/8/2;
            }
        }

        &__line {
            display: none;
        }

        &__number {
            position: absolute;
            left: 46%;

            &_one {
                top: 24.5%;
            }

            &_two {
                top: 54%;
            }

            &_three {
                top: 85%;
            }
        }

        &__button {
            display: none;
        }
    }

    // block price
    .price {
        max-width: 656px;
        margin: 50px auto;

        &__container {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        &__title {
            @include font-style ($title-font, $title-font-size-tablet, 62.5px);
        }

        &__text {
            max-width: 80%;
        }

        &__button {
            margin: 15px auto 47px;
        }
    }

    // block stages
    .stages {
        &__title {
            width: 80%;
            @include font-style ($title-font, $title-font-size-tablet, 42px);
        }

        &__button {
            display: none;
        }
    }
}

// mobile
@media screen and (max-width:424px) {

    // block advantages
    .advantages {
        &__container {
            grid-template-columns: 100%;
            justify-items: center;
            text-align: center;
            position: relative;
        }

        &__title {
            grid-area: 1/1/2/2;
            max-width: 100%;
            @include font-style ($title-font, $title-font-size-mobile, 30px);
        }

        &__photo {
            &_first {
                grid-area: 2/1/3/2;
            }

            &_second {
                grid-area: 4/1/5/2;
            }

            &_third {
                grid-area: 6/1/7/2;
            }
        }

        &__info {
            margin: 35px auto;

            &_first {
                grid-area: 3/1/4/2;
            }

            &_second {
                grid-area: 5/1/6/2;
            }

            &_third {
                grid-area: 7/1/8/2;
            }
        }

        &__subtitle {
            @include font-style ($title-font, $subtitle-font-size-mobile, 25px);
        }

        &__text {
            @include font-style ($main-font, $text-font-size-mobile, 25px);
        }

        &__line {
            display: none;
        }

        &__number {
            position: absolute;
            left: 41%;

            &_one {
                top: 22%;
            }

            &_two {
                top: 52%;
            }

            &_three {
                top: 83.5%;
            }
        }

        &__button {
            display: none;
        }
    }

    // block price
    .price {
        max-width: 424px;

        &__container {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        &__title {
            margin-top: 25px;
            @include font-style ($title-font, $title-font-size-mobile, 62.5px);
        }

        &__photo {
            max-width: 85%;
        }

        &__text {
            max-width: 80%;
            @include font-style ($main-font, $text-font-size-mobile, 25px);

            a {
                display: inline-block;
                font-size: $text-font-size-mobile;
            }
        }

        &__button {
            font-size: $text-font-size;
            margin: 15px auto 47px;
        }
    }

    // block stages
    .stages {
        &__title {
            width: 85%;
            @include font-style ($title-font, $title-font-size-mobile, 30px);
        }

        &__slider {
            width: 95%;
            padding-top: 70px;
        }

        &__subtitle {
            @include font-style ($title-font, $subtitle-font-size-mobile, 24px);
        }

        &__text {
            @include font-style ($main-font, $text-font-size-mobile, 19px);

            a {
                @include font-style ($title-font, $text-font-size, 24px);
            }
        }

        &__text-apart {
            margin: 20px auto;
        }

        &__button {
            display: none;
        }

        &__button-order {
            @include button-main (80%, 12px 30px, $text-font-size);
        }
    }
}