@mixin button-main ($max-width, $padding, $font-size) {
    max-width: $max-width;
    padding: $padding;

    border: none;
    border-radius: 8px;

    font-family: $main-font;
    font-size: $font-size;
    font-weight: 600;
    text-align: center;

    background-color: $bg-color-main;
    color: $text-color-white;
}


@mixin button-light ($max-width, $padding, $font-size) {
    max-width: $max-width;
    padding: $padding;

    border: none;
    border-radius: 8px;

    font-family: $main-font;
    font-size: $font-size;
    font-weight: 600;
    text-align: center;

    background-color: $bg-color-white;
    color: $text-color-title;
}

@mixin font-style ($font-family, $font-size, $line-height) {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin number-circle-icon ($width, $height, $border-radius) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $width;
    height: $height;
    border-radius: $border-radius;
    background-color: $bg-color-main;
    color: $text-color-white;
}

@mixin block-text($font-size: 18px, $line-height: 25px) {
    font-size: $font-size;
    line-height: $line-height;
}