
//colors
$text-color-title:#265FE5;
$text-color-light:#3A475E;
$text-color-dark: #000000;
$text-color-white:#FFFFFF;

$bg-color-main:#265FE5;
$bg-color-light:#EEF3FD;
$bg-color-dark:#3A475E;
$bg-color-white:#FFFFFF;

// fonts
$main-font: 'Raleway';
$title-font: 'RF Dewi Extended';

// font sizes
$title-font-size: 45px;
$subtitle-font-size: 24px;
$text-font-size: 18px;
$button-font-size: 22px;

$title-font-size-tablet: 35px;
$title-font-size-mobile: 25px;
$text-font-size-mobile: 16px;

$bg-deep-blue:#265FE5;//баннер
$bg-grey:#3A475E;//футер
$text-color-deep-grey:#222021; //емейл в хедере
$text-color-light-blue:#B2C7F6; //цифры в вертикальном слайдере


//text
$text-color-title:#265FE5;
$text-color-light:#3A475E;
$text-color-dark: #000000;

$text-color-white:#FFFFFF;  

//background
$bg-color-light:#EEF3FD;   
$bg-color-main:#265FE5; 
$bg-color-dark:#3A475E; 
$bg-color-white:#FFFFFF; 

//fonts
$main-font: 'Raleway', sans-serif;
$title-font: 'RF Dewi Extended', sans-serif;

