$bg-deep-blue:#265FE5;//баннер
$bg-grey:#3A475E;//футер
$text-color-deep-grey:#222021; //емейл в хедере
$text-color-light-blue:#B2C7F6; //цифры в вертикальном слайдере


//text
$text-color-title:#265FE5;
$text-color-light:#3A475E;
$text-color-dark: #000000;

$text-color-white:#FFFFFF;  

//background
$bg-color-light:#EEF3FD;   
$bg-color-main:#265FE5; 
$bg-color-dark:#3A475E; 
$bg-color-white:#FFFFFF; 

//fonts
$main-font: 'Raleway', sans-serif;
$title-font: 'RF Dewi Extended', sans-serif;




