//colors
$text-color-title:#265FE5; 
$text-color-light:#3A475E; 
$text-color-dark: #000000; 
$text-color-white:#FFFFFF;  
 
$bg-color-main:#265FE5; 
$bg-color-light:#EEF3FD;   
$bg-color-dark:#3A475E; 
$bg-color-white:#FFFFFF; 

// fonts
$main-font: 'Raleway';
$title-font: 'RF Dewi Extended';

$text-font-size: 18px;
