@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:ital,wght@0,300;0,400;1,300&family=Rubik&display=swap");
@font-face {
  font-family: "RF Dewi Extended";
  src: url("../fonts/RFDewiExtended-Regular.woff");
  font-weight: 400;
}
* {
  border: solid 1px red;
  font-family: "Raleway", sans-serif;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1796px;
  margin-right: auto;
  margin-left: auto;
}

.banner__nav-arrow_left {
  margin-top: auto;
  margin-right: -20px;
  margin-bottom: auto;
}

.banner__nav-arrow_right {
  margin-top: auto;
  margin-left: -20px;
  margin-bottom: auto;
}

.banner-content__slider {
  max-width: 1700px;
  margin-right: auto;
  margin-left: auto;
}

.banner-content__title {
  font-family: "RF Dewi Extended", sans-serif;
  color: #FFFFFF;
}

.info-block {
  max-width: 1522px;
  margin-top: 45px;
  margin-right: auto;
  margin-bottom: 45px;
  margin-left: auto;
  border-radius: 50px;
}
.info-block__title {
  font-family: "RF Dewi Extended", sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: #265FE5;
}
.info-block__text {
  margin-bottom: 1.2em;
  line-height: 30px;
}
.info-block__text_bold {
  font-family: "RF Dewi Extended", sans-serif;
  font-weight: 700;
}
.info-block__text_blue {
  color: #265FE5;
}

.info-block-wrapper {
  display: flex;
  max-width: 1146px;
  margin-right: auto;
  margin-left: auto;
}

.info-block-content {
  display: flex;
  flex-direction: column;
  max-width: 588px;
}

.info-block-list {
  display: grid;
  max-width: 588px;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(4, 1fr);
}
.info-block-list__title {
  grid-column: 1/3;
  grid-row: 1/2;
  font-family: "RF Dewi Extended", sans-serif;
  color: #3A475E;
}
.info-block-list__number {
  font-family: "RF Dewi Extended", sans-serif;
  font-size: 25px;
  color: #265FE5;
}
.info-block-btn {
  max-width: 263px;
  min-width: 263px;
  max-height: 54px;
  min-height: 54px;
  border: 0;
  border-radius: 4px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.info-block-btn_blue {
  background-color: #265FE5;
  color: #FFFFFF;
}

.info-block-btn-arrow {
  padding-left: 7px;
}

.info-block__img {
  align-self: center;
  margin-left: 68px;
}

.info-block_sm {
  display: flex;
  align-items: center;
  max-width: 1146px;
  max-height: 164px;
  min-height: 164px;
  border-radius: 50px;
}

.info-block_bg-blue {
  background-color: #265FE5;
}

.info-block__text_white {
  margin-left: 40px;
  margin-right: 60px;
  color: #FFFFFF;
}

.info-block-btn_white {
  max-width: 294px;
  min-width: 294px;
  max-height: 54px;
  min-height: 54px;
  margin-right: 58px;
  background-color: #FFFFFF;
  color: #265FE5;
}

.info-block_bg-light-blue {
  position: relative;
  background-color: #EEF3FD;
}

.block4_img {
  position: absolute;
  max-width: 539px;
  min-width: 539px;
  margin-top: 53px;
  margin-left: -75px;
  z-index: 2;
}

.image-bg {
  max-width: 412px;
  min-width: 412px;
  max-height: 366px;
  min-height: 366px;
  margin-top: 53px;
  border-radius: 183px;
  background: radial-gradient(circle, rgba(38, 95, 229, 0.4) 30%, rgb(238, 243, 253) 70%);
  z-index: 1;
}

.vertical-slider {
  display: flex;
  margin-left: auto;
  margin-bottom: 59px;
}

.numbers-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
.numbers-wrapper__item {
  box-sizing: border-box;
  max-width: 29px;
  min-width: 29px;
  max-height: 50px;
  min-height: 50px;
  padding-top: 15px;
  font-size: 20px;
  text-align: center;
  color: #B2C7F6;
}
.numbers-wrapper__item_active {
  font-size: 30px;
  color: #265FE5;
}

.lines-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
}
.lines-wrapper__item {
  margin-top: 23px;
  margin-bottom: 23px;
  font-family: "RF Dewi Extended", sans-serif;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 477px;
  min-width: 477px;
}

.title-group {
  display: flex;
  align-items: center;
  color: #265FE5;
}
.title-group__title {
  font-size: 22px;
  font-weight: 700;
}
.title-group__icon {
  max-width: 71px;
}

.info-block-btn_sm {
  max-width: 246px;
  min-width: 246px;
  margin-top: 20px;
}

.info-block-btn_lg {
  max-width: 295px;
  min-width: 295px;
  margin-top: 9px;
}

#block_5 {
  margin-top: 147px;
}/*# sourceMappingURL=style.css.map */