.advantages {
    &__container {
        max-width: 1146px;
        margin: 100px auto 0;
        display: grid;
        // 490 166 490
        grid-template-columns: 43% 1fr 43%;
        // row-gap: 57px;
        align-items: center;
    }

    &__title {
        grid-area: 1/1/2/4;
        @include font-style ($title-font, $title-font-size, 58px);
        text-align: center;
        color: $text-color-title;
    }

    &__photo {
        max-width: 100%;

        &_first {
            grid-area: 2/1/3/2;
        }

        &_second {
            grid-area: 3/3/4/4;
        }

        &_third {
            grid-area: 4/1/5/2;
        }
    }

    &__info {
        max-width: 471px;

        &_first {
            grid-area: 2/3/3/4;
        }

        &_second {
            grid-area: 3/1/4/2;
        }

        &_third {
            grid-area: 4/3/5/4;
        }
    }

    &__subtitle {
        @include font-style ($title-font, $subtitle-font-size, 25px);
        font-weight: 700;
        color: $text-color-title;
    }

    &__text {
        @include font-style ($main-font, $text-font-size, 25px);
        color: $text-color-light;
    }

    &__design-elements {
        grid-area: 2/2/5/3;
        margin: 0 auto;
    }

    &__line {
        margin: 50%;
    }

    &__number {
        @include font-style ($title-font, $subtitle-font-size, 25px);
        @include number-circle-icon(75px, 75px, 37.5px);
    }

    &__button {
        grid-area: 5/1/6/4;
        justify-self: center;
        @include button-main (384px, 12px 50px, $button-font-size);
    }
}