.banner-desktop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1796px;
    min-width: 0;
    margin-right: auto;
    margin-left: auto;

    &__nav-arrow_left {
        max-width: 55px;
        margin-top: auto;
        margin-right: -5px;
        margin-bottom: auto;
    }

    &__nav-arrow_right {
        max-width: 55px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: -5px;
    }
}

//slick-slider
.banner-slider-container {
    display: flex;
    min-width: 0;
}

//Оптимизация, чтобы при первичной загрузке показывался один слайд
.banner-slider-container .banner__slide:not(:first-child) {
    display: none;
}

.banner-slider-container.slick-initialized .banner__slide:not(:first-child) {
    display: block;
}

// Ограничивающая оболочка
.slick-list {
    overflow: hidden;
}

// Лента слайдов
.slick-track {
    display: flex;
    // gap: 5px;
    // align-items: flex-start; //чтобы картинки были одинаковой высоте, но тогда баннер елозит по вертикали
}

//slick-slide
.banner__slide {
    min-width: 0;
    width: 1704px;
    margin-left: auto;
    margin-right: auto;
}

.banner-mobile {
    display: none;
}