@media screen and (min-width: 769px) and (max-width: 1024px) {
    .banner-desktop {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1000px;
        min-width: 0;
        margin-right: auto;
        margin-left: auto;


        &__nav-arrow_left {
            max-width: 45px;
            margin-right: -10px;
        }

        &__nav-arrow_right {
            max-width: 45px;
            margin-left: -10px;
        }
    }

    .banner__slide {
        width: 950px;
    }

    .banner-mobile {
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .banner-mobile {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 720px;
        min-width: 0;
        margin-right: auto;
        margin-left: auto;
    }

    .banner__slide {
        width: 720px;
    }

    .banner__nav-arrow {
        &_left {
            position: absolute;
            left: 33px;
            z-index: 2;
        }

        &_right {
            position: absolute;
            right: 33px;
            z-index: 2;
        }
    }

    .banner-desktop {
        display: none;
    }
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    .banner-mobile {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 340px;
        margin-right: auto;
        margin-left: auto;
    }

    .banner__slide {
        width: 340px;
    }

    .banner__nav-arrow {
        &_left {
            position: absolute;
            max-width: 39px;
            left: 10px;
            z-index: 2;
        }

        &_right {
            position: absolute;
            max-width: 39px;
            right: 10px;
            z-index: 2;
        }
    }

    .banner-desktop {
        display: none;
    }
}

//у второго слайда tablet высота отличается от остальных