.info-block_bg-light-blue {
    position: relative;
    background-color: $bg-color-light;
}

.info-block__img_absolute {
    position: absolute;
    max-width: 539px;
    min-width: 539px;
    margin-top: 50px;
    margin-left: -75px;
    z-index: 2;
}

.image-bg {
    max-width: 412px;
    min-width: 412px;
    max-height: 366px;
    min-height: 366px;
    margin-top: 103px;
    border-radius: calc(366px/2);
    background: radial-gradient(circle, rgba(38, 95, 229, 0.4) 30%, rgba(238, 243, 253, 1) 70%);
    z-index: 1;
}

.numbers-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;

    &__item {
        box-sizing: border-box;
        max-width: 29px;
        min-width: 29px;
        max-height: 45px;
        min-height: 45px;
        padding-top: 10px;
        font-family: $title-font;
        font-size: 20px;
        text-align: center;
        color: #B2C7F6;

        &_active {
            padding-top: 5px;
            margin-right: 10px;
            font-size: 30px;
            font-weight: 700;
            color: $text-color-title;
        }
    }
}

.lines-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 25px;

    &__item {
        width: 40px;
        height: 2px;
        margin-top: 15px;
        margin-bottom: 18px;
        background-color: $bg-color-light;

        &_active {
            background-color: $bg-color-main;
        }
    }
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 0px;
    min-height: 0;
    max-height: 477px;
}

.title-group {
    display: flex;
    color: $text-color-title;

    &__title {
        margin-top: 10px;
        margin-left: 14px;
        font-size: 22px;
        font-weight: 700;
    }

    &__icon {
        max-width: 99px;
        margin-left: -15px;
    }
}

.info-block-btn_sm {
    margin-top: 20px;
}

//swiper
.vertical-slider {
    display: flex;
    margin-left: auto;
    margin-bottom: 59px;
    min-height: 0;
    overflow: hidden;
}

//swiper-wrapper
.slider-wrapper {
    max-height: 477px;
}

.swiper-slide {
    // min-height: 0;
    // max-height: 477px;
    // border: 2px solid blue;
}

.swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    background-color: $bg-color-light;

    &-active {
        background-color: rgba(238, 243, 253, 0);
    }
}

.swiper-pagination {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 770px;
    margin-top: 73px;
}

.horizontal-slider {
    display: none;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .horizontal-slider {
        display: none;
    }

    .info-block__img_absolute {
        max-width: 434px;
        min-width: 434px;
        margin-top: 20px;
        margin-left: -25px;
    }

    .image-bg {
        margin-top: 20px;
    }

    .vertical-slider {
        margin-bottom: 20px;
    }

    .swiper-pagination {
        margin-right: 470px;
        margin-top: 60px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .vertical-slider {
        display: none;
    }

    .info-block_bg-light-blue {
        position: relative;
        max-width: 750px;
        min-height: 1000px;
    }

    .info-block__img_absolute {
        position: absolute;
        max-width: 434px;
        min-width: 434px;
        top: 570px;
        left: 158px;
        z-index: 2;
        margin-left: 0;
    }

    .image-bg {
        position: absolute;
        max-width: 330px;
        min-width: 330px;
        max-height: 295px;
        min-height: 295px;
        top: 600px;
        left: 200px;
        z-index: 1;
    }

    .horizontal-slider {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 53px;
        min-height: 392px;
        margin-top: 38px;
        margin-left: 48px;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 477px;
        min-width: 477px;
    }

    .info-block-btn_sm {
        margin-top: auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .vertical-slider {
        display: none;
    }

    .info-block_bg-light-blue {
        max-width: 390px;
        min-height: 955px;
    }

    .info-block__title_centered {
        max-width: 340px;
        margin-right: auto;
        margin-left: auto;
    }

    .info-block__img_absolute {
        position: absolute;
        margin-left: 0;
        max-width: 290px;
        min-width: 290px;
        top: 650px;
        left: 50px;
        z-index: 2;
        margin-left: 0;
    }

    .image-bg {
        position: absolute;
        max-width: 220px;
        min-width: 220px;
        max-height: 196px;
        min-height: 196px;
        top: 650px;
        left: 90px;
        z-index: 1;
        border-radius: calc(220px/2);
    }

    .horizontal-slider {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 46px;
        min-height: 488px;
        margin-left: 27px;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 248px;
        min-width: 248px;
    }

    .title-group {
        &__title {
            margin-top: 10px;
            margin-left: 14px;
            font-size: 20px;
        }

        &__icon {
            max-width: 71px;
            margin-left: -15px;
        }
    }

    .info-block-btn_sm {
        margin-top: auto;
    }

    .info-block-btn_centered {
        align-self: center;
    }
}