@media screen and (min-width: 769px) and (max-width: 1024px){
    .info-block_sm {
        max-width: 950px;
    }

    .info-block__text_white {
        max-width: 700px;
        margin-right: 20px;
    }

    .info-block-btn_white {
        margin-right: 40px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .info-block_sm {
        flex-direction: column;
        max-width: 655px;
        min-height: 260px;
    }
    
    .info-block__text_white {
        max-width: 590px;
        min-height: 120px;
        margin-top: 28px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        // border: 1px solid white;
    }
    
    .info-block-btn_white {
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .info-block_sm {
        flex-direction: column;
        max-width: 340px;
        // max-height: 324px;
        min-height: 350px;
    }
    
    .info-block__text_white {
        max-width: 280px;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    
    .info-block-btn_white {
        margin-right: auto;
        margin-left: auto;
    }
}