@media screen and (min-width: 769px) and (max-width: 1024px) {
    #block_5 {
        margin-top: 60px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #block_5 {
        margin-top: 114px;
    }

    .info-block__img_hidden {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    #block_5 {
        margin-top: 69px;
    }

    .info-block__img_hidden {
        display: none;
    }

    .info-block-btn_lg {
        margin-top: 19px;
    }
}