.container-fluid {
    max-width: 1920px;
    margin: 0 auto;

    @media screen and (max-width:750px) {
        max-width: 750px;
    }
}


.collection {
    padding: 100px 0;

    @media screen and (max-width: 750px) {
        padding: 0 0 45px 0;
    }
}

.collection__inner {
    display: -ms-grid;
    display: grid;
    /* -ms-grid-columns: (1fr)[3]; */
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width:750px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.collection__image {
    height: 100%;
    width: 100%;
}