.container-fluid {
    max-width: 1920px;
    margin: 0 auto;
}

.collection {
    padding: 100px 0;
}

.collection__inner {
    display: -ms-grid;
    display: grid;
    /* -ms-grid-columns: (1fr)[3]; */
    grid-template-columns: repeat(3, 1fr);
}

.collection__image {
    height: 100%;
    width: 100%;
}