.container__low {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}

.form {
    background-color: #265fe5;
    border-radius: 50px 50px 0px 0px;
    color: #fff;
    padding-top: 85px;
    padding-bottom: 400px;
}

.form__inner {
    display: flex;
    justify-content: space-between;
    gap: 65px;
}

.form__text {
    width: 405px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.form__title {
    font-family: "RF Dewi Extended";
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
}

.form__main {
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.form__main-input,
.form__main-input-text {
    border-radius: 6px;
    border-color: transparent;
    color: inherit;
    font-size: 16px;
    font-weight: 400;
    background-color: inherit;
    border: 1px solid #9BB6F3;

}

.form__main-input:placeholder,
.form__main-input-text:placeholder {
    color: #9BB6F3;
    font-size: inherit;
}

.form__row {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.form__main {
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__main-input {
    width: 320px;
    padding: 5px 0 5px 18px;
}

.form__main-input-text {
    height: 130px;
    width: 650px;
    padding: 5px 0 100px 18px;
}

.form__main-button {
    position: relative;
    width: 239px;
    margin-top: 30px;
    padding: 10px 35px 10px 10px;
    border-radius: 8px;
    border-color: transparent;
    color: #265FE5;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}

.form__main-button::after {
    position: absolute;
    content: '';
    background-image: url(../images/arrow-blue.svg);
    width: 26px;
    height: 14px;
    right: 25px;
    bottom: 15px;
}

.footer {
    position: absolute;
    color: #fff;
    height: 300px;
    width: 100%;
    bottom: 0;
    z-index: 5;
    background-color: #3a475e;
    border-radius: 50px 50px 0px 0px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    gap: 65px;
    margin-top: 75px;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    margin: 0;
}

.footer__menu-item {
    padding-right: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.5;
}

.footer__contacts {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__contacts p,
.footer__logo p {
    display: block;
    margin: 0;
}

.footer__phone {
    font-family: "RF Dewi Extended";
}

.footer__adress {
    padding-bottom: 5px;
}

.footer__email {
    width: 100px;
}