.functions {
    max-width: 1200px;
    text-align: center;
    margin-bottom: 55px;
    margin-right: auto;
    margin-left: auto;
}

.functions__title,
.functions__main-title,
.functions__additional-title,
.functions__technical-title {
    font-family: "RF Dewi Extended";
    font-weight: 700;
    margin: 0;
}

.functions__title {
    margin-bottom: 70px;
    line-height: 62.5px;
    font-size: 45px;
}

.functions__title,
.functions__technical-title {
    color: #265FE5;
}

.functions__inner {
    margin: 0 auto;
    height: 815px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px;
    color: #3A475E;
    line-height: 40px;
}

.functions__main-title,
.functions__additional-title,
.functions__technical-title {
    font-size: 30px;
    line-height: 32px;
}

.functions__main-title {
    color: #fff;
}

.functions__main,
.functions__additional {
    border-radius: 50px;
    padding: 60px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.functions__main {
    grid-row: span 2;
    background-color: #265FE5;
}

.functions__main-title {
    margin: 0;
}

.functions__main-item,
.functions__additional-item {
    border-radius: 14px;
    padding-left: 75px;
    height: 57px;
    display: flex;
    align-items: center;
}

.functions__main-item {
    background-color: #EEF3FD;
    position: relative;
}

.functions__first::after,
.functions__second::after,
.functions__third::after,
.functions__forth::after,
.functions__fifth::after,
.functions__sixth::after,
.functions__seventh::after,
.functions__eighth::after,
.functions__ninth::after {
    position: absolute;
    content: '';
    width: 75px;
    height: 58px;
    left: -13px;
    bottom: 0;

}

.functions__first::after {
    background-image: url(../images/icon1.svg);
}

.functions__second::after {
    background-image: url(../images/icon2.svg);
}

.functions__third::after {
    background-image: url(../images/icon3.svg);
}

.functions__forth::after {
    background-image: url(../images/icon4.svg);
}

.functions__fifth::after {
    background-image: url(../images/icon5.svg);
}

.functions__sixth::after {
    background-image: url(../images/icon6.svg);
}

.functions__seventh::after {
    background-image: url(../images/icon7.svg);
}

.functions__eighth::after {
    background-image: url(../images/icon8.svg);
}

.functions__ninth::after {
    background-image: url(../images/icon9.svg);
}

.functions__main-item,
.functions__additional-item,
.funtions__technical-table {
    text-align: start;
}

.functions__additional {
    background-color: #EEF3FD;
    gap: 10px;
}

.functions__additional-item {
    background-color: white;
    position: relative;
}

.functions__additional-item::after {
    position: absolute;
    content: '';
    background-image: url(../images/icon1.svg);
    width: 75px;
    height: 58px;
    left: -13px;
    bottom: 0;

}

._first::after {
    background-image: url(../images/icon10.svg);
}

._second::after {
    background-image: url(../images/icon11.svg);
}

._third::after {
    background-image: url(../images/icon12.svg);
}

._forth::after {
    background-image: url(../images/icon13.svg);
}