.container {
  max-width: 1730px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-top: 45px;
  margin-bottom: 20px;
  color: #3a475e;

  @media screen and (max-width: 920px) {
    margin-bottom: -15px;
  }
}

.header__inner,
.header__menu-list,
.header__main,
.header__contacts {
  display: flex;
  align-items: center;
}

.header__main,
.header__contacts {
  gap: 55px;
  color: #222021;

  @media screen and (max-width: 1160px) {
    gap: 20px;
  }
}

.header__inner {
  justify-content: space-between;
}

.header__logo img {
  @media screen and (max-width: 750px) {
    width: 154px;
  }

  @media screen and (max-width: 390px) {
    width: 94px;
  }
}

.header__burger img {
  display: none;

  @media screen and (max-width: 920px) {
    display: block;
    width: 48px;
    height: 29px;
  }

  @media screen and (max-width: 390px) {
    width: 30px;
    height: 17px;
  }
}

.header__description {
  width: 410px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;

  @media screen and (max-width: 1370px) {
    width: 200px;
  }

  @media screen and (max-width: 1140px) {
    display: none;
  }
}

.header__contacts {
  font-size: 20px;
  line-height: 30px;

  @media screen and (max-width: 920px) {
    display: none;
  }
}

.header__phone {
  font-family: "RF Dewi Extended";
}

.header__email {
  color: #222021;
}

.header__phone {
  color: #265fe5;
  font-weight: 600;
}

.header__menu,
.header-high {
  padding: 0 45px;
}

.header__menu-list {
  gap: 35px;
  font-size: 20px;
  line-height: 16px;
  font-weight: 600;
}

.header-low {
  margin-top: 45px;

  @media screen and (max-width: 920px) {
    display: none;
  }
}