.container,
.header__container {
  max-width: 1730px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-top: 45px;
  margin-bottom: 20px;
  color: #3a475e;

  @media screen and (max-width: 920px) {
    margin-bottom: -3px;
  }
}

.header__inner,
.header__menu-list,
.header__main,
.header__contacts {
  display: flex;
  align-items: center;
}

.header__main,
.header__contacts {
  gap: 55px;
  color: #222021;

  @media screen and (max-width: 1160px) {
    gap: 20px;
  }
}

.header__inner {
  justify-content: space-between;
}

.header__logo img {
  @media screen and (max-width: 750px) {
    width: 154px;
  }

  @media screen and (max-width: 390px) {
    width: 94px;
  }
}

.header__burger img {
  display: none;

  @media screen and (max-width: 920px) {
    display: block;
    width: 48px;
    height: 29px;
  }

  @media screen and (max-width: 700px) {
    margin-right: -30px;
  }

  @media screen and (max-width: 390px) {
    width: 30px;
    height: 17px;
  }
}

.header__description {
  width: 410px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;

  @media screen and (max-width: 1370px) {
    width: 200px;
  }

  @media screen and (max-width: 1140px) {
    display: none;
  }
}

.header__contacts {
  font-size: 20px;
  line-height: 30px;

  @media screen and (max-width: 920px) {
    display: none;
  }
}

.header__phone {
  font-family: "RF Dewi Extended";
}

.header__email {
  color: #222021;
}

.header__phone {
  color: #265fe5;
  font-weight: 600;
}

.header__menu,
.header-high {
  padding: 0 45px;
}

.header__menu-list {
  gap: 35px;
  font-size: 20px;
  line-height: 16px;
  font-weight: 600;
}

.header-low {
  margin-top: 45px;

  @media screen and (max-width: 920px) {
    display: none;
  }
}

.adaptive-menu {
  display: none;

  @media screen and (max-width: 920px) {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 460px;
    padding-top: 20px;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    z-index: 4;
  }

  @media screen and (max-width: 510px) {
    height: 555px;
  }
}

.header:target .adaptive-menu {
  @media screen and (max-width: 920px) {
    left: 0;
  }

}

.header:target .header__burger {
  display: none;
}

.header:target .adaptive-menu__close {
  display: block;
}

.container-adapt {
  max-width: 620px;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (max-width: 650px) {
    max-width: 510px;
  }

  @media screen and (max-width: 510px) {
    max-width: 320px;
  }
}

.adaptive__row {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 154px;

  @media screen and (max-width: 510px) {
    width: 124px;
  }
}

.adaptive-menu__close {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform .5s;
}

.adaptive-menu__description {
  line-height: 25px;
  color: #265FE5;
  width: 405px;

  @media screen and (max-width: 510px) {
    width: 290px;
  }
}

.adaptive__column {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 510px) {
    flex-direction: column;
  }
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 16px;
  padding: 0;
}

.menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 30px;
}

.phone {
  font-family: "RF Dewi Extended";
  color: #265FE5;
}

.email {
  color: #222021;
}