.price {
    max-width: 1146px;
    margin: 94px auto;
    border-radius: 50px;
    background-color: $bg-color-main;

    &__container {
        max-width: 973px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50% 40%;
        justify-content: space-around;
        align-items: center;
    }

    &__title {
        margin-top: 69px;
        grid-area: 1/1/2/2;
        @include font-style ($title-font, $title-font-size, 62.5px);
        color: $text-color-white;
    }

    &__photo {
        grid-area: 1/2/4/3;
        max-width: 100%;
    }

    &__text {
        grid-area: 2/1/3/2;
        max-width: 516px;
        @include font-style ($main-font, $text-font-size, 25px);
        color: $text-color-white;

        a {
            @include font-style ($title-font, $text-font-size, 25px);
            text-decoration: none;
            font-weight: 700;
            color: $text-color-white;
        }
    }

    &__button {
        grid-area: 3/1/4/2;
        @include button-light (327px, 12px 50px, $button-font-size);
        margin: 70px 0;
        font-weight: 600;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .price {
        max-width: 656px;
        margin: 50px auto;

        &__container {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        &__title {
            @include font-style ($title-font, $title-font-size-tablet, 62.5px);
        }

        &__text {
            max-width: 80%;
        }

        &__button {
            margin: 15px auto 47px;
        }
    }
}

@media screen and (max-width:480px) {
    .price {
        max-width: 424px;

        &__container {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        &__title {
            margin-top: 25px;
            @include font-style ($title-font, $title-font-size-mobile, 62.5px);
        }

        &__photo {
            max-width: 85%;
        }

        &__text {
            max-width: 80%;
            @include font-style ($main-font, $text-font-size-mobile, 25px);

            a {
                display: inline-block;
                font-size: $text-font-size-mobile;
            }
        }

        &__button {
            font-size: $text-font-size;
            margin: 15px auto 47px;
        }
    }
}