.stages {
    width: 98vw;
    max-width: 1668px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__title {
        width: 100%;
        margin: 0 auto;
        @include font-style ($title-font, $title-font-size, 58px);
        text-align: center;
        color: $text-color-title;
    }

    &__slider {
        display: flex;
        width: 80%;
        min-width: 0;
        margin: 0;
        padding-top: 90px;
        overflow-x: hidden;
    }

    &__button {
        height: 75px;
        margin: auto 0;
        border: none;
        background-color: $bg-color-white;
    }

    &__cards-container {
        display: flex;
        min-width: 0;
        width: 90%;
    }

    &__number {
        @include font-style ($title-font, $subtitle-font-size, 25px);
        @include number-circle-icon(75px, 75px, 37.5px);
        position: absolute;
        left: calc(50% - 37.5px);
        bottom: 93%;
    }

    &__card {
        position: relative;
        box-sizing: border-box;
        padding-top: 80px;
        border-radius: 50px;
        text-align: center;
        background-color: $bg-color-light;
    }

    &__card-content {
        height: 100%;
        padding: 0 15px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }

    &__subtitle {
        margin: 0 auto 23px;
        @include font-style ($title-font, $subtitle-font-size, 27px);
        color: $text-color-title;
    }

    &__text {
        margin: 0 auto;
        @include font-style ($main-font, 18px, 25px);
        color: $text-color-light;

        a {
            font-family: $title-font;
            font-weight: 700;
            text-decoration: none;
            color: $text-color-title;
        }

        &_advice {
            margin: 12px auto;
            padding: 10px;
            background-color: $bg-color-white;
            border-radius: 16px;
            font-size: 16px;
            line-height: 20px;
            text-align: left;
        }

        &_bold {
            @include font-style ($title-font, 14px, 18px);
            margin: 0;
            font-weight: 700;
            color: $text-color-title;
        }
    }

    &__text-apart {
        margin: 40px auto;
    }

    &__photo {
        width: 100%;

        &_narrow {
            width: 67%;
            margin: 0 auto;
        }
    }

    &__button-order {
        @include button-main (387px, 12px 50px, $button-font-size);
        display: block;
        margin: 60px auto;
    }
}

@media screen and (min-width:1024px) and (max-width:1200px) {
    .stages {
        &__title {
            @include font-style ($title-font, $title-font-size-tablet, 42px);
        }

        &__number {
            @include number-circle-icon(60px, 60px, 37.5px);
            left: calc(50% - 30px);
            bottom: 95%;
        }

        &__card {
            padding-top: 50px;
        }

        &__subtitle {
            @include font-style ($title-font, $subtitle-font-size-mobile, 27px);
        }

        &__text {
            @include font-style ($main-font, 14px, 18px);

            &_advice {
                padding: 5px;
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}

@media screen and (min-width:481px) and (max-width:1023px) {
    .stages {
        &__slider {
            width: 95%;
            padding-top: 0;
        }

        &__cards-container {
            box-sizing: border-box;
            width: 100%;
            min-height: 570px;
            padding-top: 50px;
            gap: 20px;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__card {
            width: 52%;
        }

        &__card-content {
            padding: 0 30px;
        }

        &__title {
            width: 80%;
            @include font-style ($title-font, $title-font-size-tablet, 42px);
        }

        &__button {
            display: none;
        }
    }
}

@media screen and (max-width:480px) {
    .stages {
        &__title {
            width: 85%;
            margin-top: 40px;
            @include font-style ($title-font, $title-font-size-mobile, 30px);
        }

        &__slider {
            width: 95%;
            padding-top: 0;
        }

        &__cards-container {
            box-sizing: border-box;
            width: 100%;
            min-height: 570px;
            padding-top: 50px;
            gap: 10px;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__card {
            width: 80%;
        }

        &__subtitle {
            margin: 0 auto 10px;
            @include font-style ($title-font, $subtitle-font-size-mobile, 24px);
        }

        &__text {
            @include font-style ($main-font, $text-font-size-mobile, 19px);

            a {
                @include font-style ($title-font, $text-font-size, 24px);
            }
        }

        &__text-apart {
            margin: 20px auto;
        }

        &__button {
            display: none;
        }

        &__button-order {
            @include button-main (80%, 12px 30px, $text-font-size);
        }
    }
}