.stages-of-construction {
    width: 98vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    * {
        outline: 1px solid violet;
    }

    // .stages-of-construction__container
    // &__container {
    //     width: 100%;
    //     // max-width: 1796px;
    //     margin: 0 auto;
    // }

    &__title {
        width: 100%;
        margin: 0 auto;
        @include font-style ($title-font, $title-font-size, 58px);
        text-align: center;
        color: $text-color-title;
    }

    &__slider {
        display: flex;
        width: 80%;
        min-width: 0;
        // min-height: 853px;
        margin: 0;
        // padding-top: 90px;
        overflow-x: hidden;
        // из-за скролла вертикального:
        // padding-bottom: 200px;
        // margin-bottom: -200px;
    }

    &__button {
        border: none;
        background-color: $bg-color-white;
    }

    &__button_prev {}

    &__button_next {}

    &__cards-container {
        // width: 88%;
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;

        display: flex;
        margin-top: 90px;
        min-width: 0;
        width: 90%;
        justify-content: space-between;
        align-items: stretch;
    }

    &__cards-slide {}

    &__number {
        @include font-style ($title-font, $subtitle-font-size, 25px);
        @include number-circle-icon(75px, 75px, 37.5px);
        position: absolute;
        left: 36%;
        bottom: 93%;
    }

    &__card {
        position: relative;
        width: 20%;
        margin-right: 10px;
        padding-top: 80px;
        // min-height: 595px;
        border-radius: 50px;
        text-align: center;
        background-color: $bg-color-light;
    }

    &__card-content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__subtitle {
        max-width: 80%;
        margin: 0 auto 23px;
        @include font-style ($title-font, $subtitle-font-size, 27px);
        color: $text-color-title;
    }

    &__text {
        max-width: 90%;
        // margin: 0 auto;
        margin: auto 25px;
        @include font-style ($main-font, 1em, 1.4em);
        color: $text-color-light;

        a {
            font-family: $title-font;
            font-weight: 700;
            text-decoration: none;
            color: $text-color-title;
        }

        &_advice {
            margin: 12px 20px;
            padding: 10px;
            background-color: $bg-color-white;
            border-radius: 16px;
            font-size: 0.9em;
            line-height: 1.3em;
            text-align: left;
        }

        &_bold {
            @include font-style ($title-font, 14px, 18px);
            margin: 0;
            font-weight: 700;
            color: $text-color-title;
        }
    }

    &__text-apart {
        margin: 40px auto;
    }

    &__photo {
        max-width: 100%;

        &_narrow {
            max-width: 67%;
            margin: 0 auto;
        }
    }

    &__button-order {
        @include button-main (387px, 12px 50px, $button-font-size);
        display: block;
        margin: 60px auto;
    }
}