.numbers-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
    z-index: 1;

    &__item {
        box-sizing: border-box;
        max-width: 29px;
        min-width: 29px;
        max-height: 45px;
        min-height: 45px;
        padding-top: 10px;
        font-family: $title-font;
        font-size: 20px;
        text-align: center;
        color: #B2C7F6;

        &_active {
            padding-top: 5px;
            margin-right: 10px;
            font-size: 30px;
            font-weight: 700;
            color: $text-color-title;
        }
    }
}

.lines-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 25px;

    &__item {
        width: 40px;
        height: 2px;
        margin-top: 15px;
        margin-bottom: 18px;
        background-color: $bg-color-light;

        &_active {
            background-color: $bg-color-main;
        }
    }
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 0px;
    min-height: 0;
    max-height: 477px;
}

.title-group {
    display: flex;
    color: $text-color-title;

    &__title {
        margin-top: 10px;
        margin-left: 14px;
        font-size: 22px;
        font-weight: 700;
    }

    &__icon {
        max-width: 99px;
        margin-left: -15px;
    }
}

//swiper
.vertical-slider {
    display: flex;
    margin-left: auto;
    margin-bottom: 59px;
    min-height: 0;
    overflow: hidden;
}

//swiper-wrapper
.slider-wrapper {
    max-height: 477px;
}

.swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);       

    &-active {
        background-color: rgba(255, 255, 255, 0);
    }
}

.swiper-pagination {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 50%;
    margin-top: 73px;
}

.horizontal-slider {
    display: none;
}