@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .swiper-pagination {
        margin-right: 50%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .horizontal-slider {
        display: none;
    }

    .vertical-slider {
        margin-bottom: 20px;
    }

    .swiper-pagination {
        margin-right: 50%;
        margin-top: 60px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .vertical-slider {
        display: none;
    }

    .horizontal-slider {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 53px;
        min-height: 392px;
        margin-top: 38px;
        margin-left: 48px;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 477px;
        min-width: 477px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .vertical-slider {
        display: none;
    }

    .horizontal-slider {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 46px;
        min-height: 488px;
        margin-left: 27px;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 248px;
        min-width: 248px;
    }

    .title-group {
        &__title {
            margin-top: 10px;
            margin-left: 14px;
            font-size: 20px;
        }

        &__icon {
            max-width: 71px;
            margin-left: -15px;
        }
    }
}
