.why-robot-cleaner {
    max-width: 1920px;
    margin: 50px auto 0;
    padding: 30px;
    border-radius: 50px;
    background-color: $bg-color-light;

    &__container {
        margin: 0 auto;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__title {
        width: 100%;
        text-align: center;
        color: $text-color-title;
        @include font-style ($title-font, $title-font-size, 62.5px);
    }

    &__images {
        max-width: 653px;
        display: flex;
        justify-content: space-between;
    }

    &__image-group {
        position: relative;
        margin-right: 16px;
        text-align: center;
        max-width: 30%;
    }

    &__photo {
        max-width: 100%;
        margin-bottom: 22px;
    }

    &__icon {
        max-width: 59px;
        position: absolute;
        left: calc(50% - 29.5px);
        top: calc(50% - 29.5px);
        z-index: 1;
    }

    &__image-text {
        @include font-style ($main-font, $text-font-size, 25px);
        color: $text-color-light;
    }

    &__info-group {
        max-width: 423px;
        margin-left: 70px;
        padding-top: 8px;
    }

    &__info {
        color: $text-color-light;
        @include font-style ($main-font, $text-font-size, 25px);

        a {
            color: $text-color-title;
            text-decoration: none;
            font-family: $title-font;
            font-weight: 700;
        }
    }

    &__button {
        margin-top: 49px;
        @include button-main (327px, 12px 50px, 22px);
    }
}

@media screen and (min-width: 769px) and (max-width: 1221px) {
    .why-robot-cleaner {
        &__container {
            max-width: 768px;
        }

        &__title {
            @include font-style ($title-font, $title-font-size-tablet, 42px);
        }

        &__images {
            max-width: 100%;
        }

        &__photo {
            max-width: 100%;
        }

        &__info-group {
            max-width: 100%;
            margin: 20px 15px auto;
        }

        &__info {
            a {
                font-weight: 700;
                display: inline-block;
            }
        }

        &__button {
            margin-top: 20px;
        }
    }
}


// tablet
@media screen and (min-width: 481px) and (max-width: 768px) {

    .why-robot-cleaner {
        &__title {
            @include font-style ($title-font, $title-font-size-tablet, 42px);
        }

        &__icon {
            @media screen and (max-width: 671px) {
                top: calc(42% - 29.5px);
            }

            @media screen and (max-width: 616px) {
                top: calc(38% - 29.5px);
            }

            @media screen and (max-width: 550px) {
                max-width: 49px;
                left: calc(50% - 24.5px);
                top: calc(38% - 24.5px);
            }

            @media screen and (max-width: 500px) {
                top: calc(34% - 24.5px);
            }
        }

        &__image-text {
            @include font-style ($main-font, $text-font-size-mobile, 22px);
        }

        &__info-group {
            max-width: 100%;
            margin: 20px 15px auto;
        }

        &__info {
            a {
                display: inline-block;
            }
        }
    }
}

// mobile
@media screen and (max-width:480px) {
    .why-robot-cleaner {
        box-sizing: border-box;
        width: 100%;
        margin-top: 500px;
        padding: 10px;

        &__title {
            @include font-style ($title-font, $title-font-size-mobile, 30px);
        }

        &__images {
            flex-direction: column;
        }

        &__image-group {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 15px;
            text-align: left;
        }

        &__photo {
            width: 152px;
            margin-bottom: 0;
            margin-right: 40px;

            @media screen and (max-width:307px) {
                width: 100px;
            }
        }

        &__icon {
            top: calc(50% - 29.5px);
            left: 122.5px;

            @media screen and (max-width:307px) {
                left: 70.5px;
            }
        }

        &__image-text {
            width: 47%;
            @include font-style ($main-font, $text-font-size-mobile, 25px);

            @media screen and (max-width:315px) {
                @include font-style ($main-font, 14px, 20px);
            }
        }

        &__info-group {
            margin: 0 auto;
        }

        &__info {
            @include font-style ($main-font, $text-font-size-mobile, 25px);

            a {
                display: inline-block;
            }
        }

        &__button {
            display: block;
            margin: 30px auto;
            font-size: $text-font-size;
        }
    }
}