.why-robot-cleaner {
    max-width: 1920px;
    margin: 50px auto 0;
    padding: 30px;
    border-radius: 50px;
    background-color: $bg-color-light;

    &__container {
        margin: auto;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__title {
        width: 100%;
        text-align: center;
        color: $text-color-title;
        @include font-style ($title-font, $title-font-size, 62.5px);
    }

    &__images {
        max-width: 653px;
        // max-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__image-group {
        position: relative;
        margin-right: 16px;
        text-align: center;
        max-width: 30%;
    }

    &__photo {
        max-width: 207px;
        margin-bottom: 22px;
    }

    &__icon {
        max-width: 59px;
        position: absolute;
        left: 34%;
        top: 42%;
        z-index: 1;
    }

    &__image-text {
        @include font-style ($main-font, $text-font-size, 25px);
        color: $text-color-light;
    }

    &__info-group {
        max-width: 423px;
        margin-left: 70px;
        padding-top: 8px;
    }

    &__info {
        color: $text-color-light;
        @include font-style ($main-font, $text-font-size, 25px);

        a {
            color: $text-color-title;
            text-decoration: none;
            font-family: $title-font;
        }
    }

    &__button {
        margin-top: 49px;
        @include button-main (327px, 12px 50px, 22px);
    }
}